<template lang="">
  <div class="box has-text-left" >
    <div class="">
      <span class="tag">[{{ (isActive == 'true') ? "Active":"Passive"}}]</span>
      <span class="">{{name}}</span>
      <span class="">
        <span v-for="tag in tagsArray" :key="tag" class="tag is-primary is-light">({{tag}})</span>
      </span>
    </div>
    <div v-if="isActive == 'true'">
      <div>
        <span>Cost: </span>
        <span v-if="apcost" class="mx-1">{{apcost}} Action{{apcost > 1 ? 's':''}}</span>
        <span v-if="manacost" class="mx-1">{{manacost}} Mana</span>
        <span v-if="altresource" class="mx-1">{{altcost}} {{altresource}}</span>
      </div>
      <div>
        <span>Range: {{range}} <span v-if="range == 'Magic'">{{rangevalue}} ft</span></span>
      </div>
      <div>
        <span v-if="target">Target: {{target}}</span>
      </div>
      <div>
        <span v-if="duration">Duration: {{duration}}</span>
      </div>
      <div>
        <span v-if="resistance">Resistance: {{resistance}}</span>
      </div>
    </div>
    <div>
      <span>{{description}}</span>
    </div>
    <div>
      <button class="button" @click="deleteAbility">Delete</button>
      <button class="button" @click="editAbility">Edit</button>
    </div>
  </div>
</template>

<script>
import { db } from "@/firebase";
import router from "@/router";
export default {


  data() {
    return {

    }
  },
  props: [
    'name', 'isActive','description','tags',
    'apcost','manacost','altresource','altcost',
    'range','rangevalue','target','duration','resistance',
    'uid','createdAt','lastModified','docid'
  ],
  emits:['deleted'],
  methods: {
    deleteAbility() {
      db.collection('abilities').doc(this.docid).delete().then(() => {
        this.$emit('deleted');
      })
    },
    editAbility() {
      router.push({name:'AbilityEdit',params: {docid:this.docid}});
    },
    duplicateAbility() {
      
    }
  },
  computed: {
    tagsArray() {
      return this.tags.split(',');
    }
  }
}
</script>
<style lang="">
    
</style>