<template lang="">
<div class="content has-text-left">
  <div class="has-text-weight-semibold">
    {{ abilityLevel ? "(" + abilityLevel + ")" : "" }}
    [{{ (isActive == 'true') ? "Active":"Passive"}}]
    {{name}}
    {{tagsText}}
  </div>
  <div v-if="isActive == 'true'">
    <div>Cost: {{apcost}} Action{{apcost > 1 ? 's':''}}{{manaText}}{{altCostText}}</div>
    <div v-if="range">Range: {{range}} {{ range == "Spell" ? rangevalue + "'" : ""}}</div>
    <div v-if="target">Target: {{target}}</div>
    <div v-if="duration">Duration: {{duration}}</div>
    <div v-if="resistance">Resistance: {{resistance}}</div>
  </div>
  <div v-if="description">Description: {{description}}</div>
</div>
<br />
</template>

<script>

export default {
  data() {
    return {
    }
  },
  props: [
    'name', 'isActive','description','tags',
    'apcost','manacost','altresource','altcost',
    'range','rangevalue','target','duration','resistance',
    'uid','createdAt','lastModified','docid',
    'abilityLevel'
  ],
  computed: {
    tagsArray() {
      if(!this.tags || this.tags == "")
        return [];
      else 
        return  this.tags.split(',');
    },
    tagsText() {
      var tagText = "";
      this.tagsArray.forEach((tag) =>{
        tagText += "(" + tag + ")";
      })
      return tagText;
    },
    manaText() {
      if(!this.manacost || this.manacost == 0) {
        return "";
      } else {
        return ", " + this.manacost + " Mana";
      }
    },
    altCostText() {
      if(!this.altresource || this.altcost == 0) {
        return "";
      } else {
        return ", " + this.altcost + " " + this.altresource;
      }
    },
  }
}
</script>
