<template lang="">
  <div class="field has-text-left">
    <label class="label" for="{{name}}">{{prettyname}}: </label>
    <div class="control">
      <textarea 
        :id="modelValue" 
        class="textarea"  
        :placeholder="placeholder"
        :value="modelValue"
        :required="true"
        :rows="rows"
        :columns="columns"
        @input="$emit('update:modelValue',$event.target.value)">
      </textarea>
    </div>
  </div>
</template>
<script>
export default {
  props: ['modelValue', 'prettyname','placeholder', 'rows', 'columns', 'required'],
  emits: ['update:modelValue'],
  computed: {
  }
}
</script>
<style lang="">
  
</style>