<template lang="">
  <div class="control">
    <input
      type="checkbox"
      class="checkbox"  
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)">
      <label><slot></slot></label>
  </div>

</template>
<script>
export default {
  props: ['modelValue'],
  emits: ['update:modelValue'],
  data() {
    return {
    }
  },
  computed: {

  },
}
</script>
<style lang="">
  
</style>