<template lang="">
  <div class="field has-text-left">
    <label class="label" for="{{name}}">{{prettyname}}: </label>

      <input 
        class="radio"  
        type="radio"
        value="true"
        :checked="isChecked"
        @change="selectChanged" />
      <label>Active</label>
    
      <input 
        class="radio"
        style="margin-left:15px"
        type="radio"
        value="false"
        :checked="!isChecked"
        @change="selectChanged" />
      <label>Passive</label>

  </div>
</template>
<script>
export default {
  props: ['modelValue', 'name','prettyname','options'],
  emits: ['update:modelValue'],
  methods: {
    selectChanged(evt) {
      this.$emit('update:modelValue', evt.target.value);
    },
  },
  computed: {
    isCheckedT() {
      return this.modelValue;
    }
  }
}
</script>
<style lang="">
  
</style>